<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1E2121"/>

    <link rel="apple-touch-icon" href="/icons/icon.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>DeResto</title>
  </head>
  <body>
    <a href="#" class="skip-link">Skip to Content</a>
    <header>
      <div class="header">
        <a id="hamburger" href="#" aria-label="navigation-menu" tabindex="0">☰</a>
        <h1>DeResto</h1>
        <nav class="navigation">
          <ul>
            <li><a href="#/">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="https://www.linkedin.com/in/audy-istania-n-59258b12a/">About Us</a></li>
          </ul>
        </nav>
      </div>
      <nav id="drawer">
        <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://www.linkedin.com/in/audy-istania-n-59258b12a/">About Us</a></li>
        </ul>
      </nav>
    </header>
    <main id="maincontent" tabindex="0"></main>
    <footer>
      <p>DeResto &#169; 2022, Dibuat oleh Audy Istania Narita.</p>
    </footer>
  </body>
</html>
